:root {
  --pink-color: #ffb8ca;
  --menu-color: #ffb8ca;
  --text: #ffa5ba;
  --text-color: #000000;
  --secondary-text-color: #907e82;
  --white-color: #ffffff;
  --red-color: #d41443;
  --background-pink-color: #fff5f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titan One", sans-serif;
}

.header {
  background-color: var(--pink-color);
  overflow: hidden;
}
.header__container {
  width: 100vw;
  height: 502px;
  padding: 0px 20px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 399px;
    width: 768px;
    padding: 0px 34px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    height: 665px;
    width: 1200px;
    padding: 0px 75px;
  }
}
.header__caption {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 20px;
  bottom: 203px;
  z-index: 3;
}
@media screen and (min-width: 1200px) {
  .header__caption {
    font-size: 38px;
    line-height: 44px;
  }
}
.header__caption--enlarge {
  font-size: 48px;
  line-height: 46px;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .header__caption--enlarge {
    font-size: 58px;
    line-height: 53px;
  }
}
@media screen and (min-width: 768px) {
  .header__caption {
    left: 34px;
    bottom: 217px;
  }
}
@media screen and (min-width: 1200px) {
  .header__caption {
    left: 115px;
    bottom: 357px;
  }
}
.header__counter {
  display: none;
  z-index: 2;
}
.header__counter::after {
  display: block;
  content: " ";
  border: 0px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header__counter::after {
    width: 16px;
    height: 16px;
    right: -10px;
    top: -1px;
  }
}
@media screen and (min-width: 1200px) {
  .header__counter::after {
    width: 30px;
    height: 30px;
    right: -18px;
    top: -2px;
  }
}
@media screen and (min-width: 768px) {
  .header__counter {
    display: block;
    font-family: "Titan One";
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #d41443;
  }
}
@media screen and (min-width: 1200px) {
  .header__counter {
    font-size: 46px;
    line-height: 53px;
  }
}
@media screen and (min-width: 768px) {
  .header__counter--cafes {
    position: absolute;
    right: 44px;
    bottom: 271px;
  }
}
@media screen and (min-width: 1200px) {
  .header__counter--cafes {
    right: 115px;
    bottom: 452px;
  }
}
.header__counter--cafes::before {
  content: "cafes";
  display: block;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  bottom: -10px;
  right: 0px;
}
@media screen and (min-width: 1200px) {
  .header__counter--cafes::before {
    font-size: 14px;
    line-height: 18px;
    bottom: -18px;
  }
}
@media screen and (min-width: 768px) {
  .header__counter--trucks {
    position: absolute;
    right: 44px;
    bottom: 215px;
  }
}
@media screen and (min-width: 1200px) {
  .header__counter--trucks {
    right: 115px;
    bottom: 361px;
  }
}
.header__counter--trucks::before {
  content: "food tracks";
  display: block;
  width: 120px;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  bottom: -10px;
  right: 0px;
}
@media screen and (min-width: 1200px) {
  .header__counter--trucks::before {
    font-size: 14px;
    line-height: 18px;
    bottom: -18px;
  }
}
.header__milk-jug-img {
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__milk-jug-img {
    display: block;
    width: 124px;
    height: 126px;
    bottom: 28px;
    left: 34px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .header__milk-jug-img {
    width: 188px;
    height: 191px;
    bottom: 45px;
    left: 37px;
  }
}
.header__icecream-girl-img {
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__icecream-girl-img {
    display: block;
    width: 168px;
    height: 133px;
    bottom: 0px;
    right: 34px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    z-index: 3;
  }
}
@media screen and (min-width: 1200px) {
  .header__icecream-girl-img {
    width: 293px;
    height: 232px;
    right: 69px;
  }
}
.header__icecream-img {
  position: absolute;
  width: 171px;
  height: 410px;
  bottom: 0px;
  right: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header__icecream-img {
    width: 143px;
    height: 336px;
    right: 247px;
  }
}
@media screen and (min-width: 1200px) {
  .header__icecream-img {
    width: 236px;
    height: 557px;
    right: 410px;
  }
}
.header__background-circle {
  width: 346px;
  height: 344px;
  border: 0px;
  border-radius: 50%;
  background-color: #ffa5ba;
  position: absolute;
  bottom: 75px;
  right: -62px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .header__background-circle {
    width: 324px;
    height: 322px;
    right: 137px;
    bottom: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .header__background-circle {
    width: 538px;
    height: 538px;
    right: 227px;
    bottom: 75px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  top: 6px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    top: 36px;
  }
}

.header__nav__logo {
  position: absolute;
  width: 199px;
  height: 50px;
  left: 20px;
  top: 6px;
}
@media screen and (min-width: 768px) {
  .header__nav__logo {
    left: 34px;
    top: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav__logo {
    left: 46px;
    top: 37px;
  }
}

.header__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__list {
    list-style-type: none;
    display: flex;
    gap: 35px;
    padding-top: 35px;
    margin-left: 250px;
    z-index: 5;
  }
}

.header__link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: white;
  display: flex;
}

.header__link:hover,
.header__link:focus {
  color: #d41443;
}

.header__nav-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-btn {
    display: block;
    left: 574px;
    position: absolute;
    /* z-index: 0; */
    width: 159px;
    height: 44px;
    top: 38px;
    color: #d41443;
    border-radius: 22px;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-btn {
    left: 1006px;
  }
}

.header__burger-btn {
  display: block;
  position: absolute;
  width: 20px;
  height: 12px;
  left: 524px;
  top: 52px;
  opacity: 0.2;
}
@media screen and (min-width: 1200px) {
  .header__burger-btn {
    display: none;
  }
}/*# sourceMappingURL=hero-header.css.map */